{% extends ":blog:layout.html.twig" %}
{% block title %} {{ parent() }} - lol!{% endblock %}
{% block body_layout %}
{% for message in app.session.flashbag.get('succes')%}
    <p class="alert alert-success">{{ message }}</p>
{% endfor%}
{#index : page n° {{ page }}#}
        {% for article in articles %}
            <div class="row">
                <h1><a href="{{ path('detail_blog', {id:article.id}) }}">{{ article.titre }}</a></h1>
                le <em>{{ article.date | date('d m Y') }}</em>
                {#<p>{{ article.contenu | raw }}</p> {# raw permet de d'interpreter le #}
                <p>
                    {#{{ article.extrait | raw }}#}
                    {#{{ extrait(article.contenu) }}#}
                    {{ article.contenu | extrait }}
                </p>
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.image.alt }}">
                {% endif %}
                <div class="raw">
                    {% for tag in article.tags %}
                        <a href="{{ path('tag_blog', {id:tag.id}) }}"><p class="btn btn-primary">{{ tag.titre }}</p></a>
                    {% else %}
                        <p>Pas de tag</p>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}
        <a href="{{path('blog',{p:p-1}) }}">◄</a>
    {% for i in 1..nb_pages %}
        {% if i == p %}
            {{i}}
        {% else %}
            <a href="{{path('blog',{p:i} )}}">{{i}}</a>
        {% endif %}
    {% endfor %}
    <a href="{{path('blog',{p:p+1}) }}">►</a>
    {% endblock %}